[Desktop Entry]
Name=Displays
Comment=Change the display settings
Exec=arandr
Icon=unity-display-panel
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-Unity-Settings-Panel;
OnlyShowIn=UnityX;
X-Unity-Settings-Panel=unityx-displays
Keywords=Wallpaper;Background;Screen;Desktop;Icon;Theme;Appearance;Displays;Screen;Launcher;Unity;Menus;
X-Ubuntu-Gettext-Domain=unity-control-center
