[Desktop Entry]
Name=Icon Theme
Comment=Change the icon theme
Exec=/usr/share/unityx/settings/icon-theme.gui
Icon=preferences-desktop-theme
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-Unity-Settings-Panel;X-GNOME-PersonalSettings
OnlyShowIn=UnityX;
X-Unity-Settings-Panel=icon-theme
Keywords=Wallpaper;Background;Screen;Desktop;Icon;Theme;Appearance;Launcher;Unity;Menus;
X-Ubuntu-Gettext-Domain=unity-control-center
