[Desktop Entry]
Name=UnityX Settings
Icon=preferences-system
Exec=bash /usr/share/unityx/settings/settings-manager.sh
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Utility;Settings;DesktopSettings;LXQt;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;X-GNOME-PersonalSettings;
OnlyShowIn=UnityX;
Keywords=Preferences;Settings;
X-Ubuntu-Gettext-Domain=unity-control-center
